@font-face {
  font-family: Hamurz;
  src: url("webfonts/Hamurz Free Version.otf");
}
.Hamurz {
  font-family: Hamurz;
}
header{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 25vh;
  width: 100vw;
}
header h2{
  padding: 35px 15px 0px 15px;
  text-align: center;
}
.wrap{
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}
body{
  overflow: hidden;
}
.social-media{
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.social-media img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
