body{
  overflow-x: hidden;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
}
@font-face {
  font-family: Hamurz;
  src: url("webfonts/Hamurz Free Version.otf");
}
.Hamurz {
  font-family: Hamurz;
}
header{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 25vh;
  width: 100vw;
}
header h2{
  padding: 35px 15px 0px 15px;
  text-align: center;
}
